@font-face {
  font-family: Fontin-Regular;
  src: url("../css/fontin_pc/Fontin-Regular.otf");
}

#statusBar {
  height: 15vh;
  width: 60vw;
  position: fixed;
  left: 20vw;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
}

.container-fluid {
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  line-height: 30px;
}

 /* The Overlay (background) */
#mainOverlay {  
    height: 0;
    width: 75%;
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 12vw;
    top: 6vh;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
#overlayContent {
    position: relative;
    top: 5%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

#mainOverlay p {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #958B72;
    display: block; /* Display block instead of inline */
}


/* Position the close button (top right corner) */
#overlay #closeOverlay {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

a {
  font-size: 50px;
  text-align: right;
  float: right;
  margin-right: 20px;
  color: red;
  visibility: hidden;
}
                                                                                                    
#bodyHeader {
  display: inline-block;
  position: fixed;
  bottom: 93vh;
  left: 10vw;
  z-index: 6;
}

#healthBarContainer {
  background-image: url("../img/emptyGlobe.png");
  background-repeat: no-repeat;
  height: 35vh;
  width: 20vw;
  position: fixed;
  display: inline-block;
  left: 0;
  bottom: 0;
  z-index: 2;
  overflow-x: hidden;
  overflow-y: hidden;
}

#healthBar {
  position: absolute;
  left: 0;
  margin: 0;
  border: 0;
  padding: 0;
  z-index: 2;
  clip-path: inset(0 0 0 0);
}

#map {
  background-image: url("../img/mapGlobe.png");
  background-repeat: no-repeat;
  height: 35vh;
  width: 20vw;
  position: fixed;
  display: inline-block;
  left: 80vw;
  bottom: 0;
  z-index: 2;
}

#mapFog {
  background-image: url("../img/mapFog.png");
  background-repeat: no-repeat;
  position: fixed;
  left: 80vw;
  height: 35vh;
  width: 20vw;
  position: fixed;
  display: inline-block;
  bottom: 0;
  z-index: 4;
  clip-path: inset(80% 0 0 0);
}

#statusBar img {
  margin: 0;
  border: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-image: url("../img/wallPaper.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
}

p {
  font-family: Fontin-Regular;
}

#mapFull {
  background-image: url("../img/mapFull.png");
  background-repeat: no-repeat;
  height: 35vh;
  width: 20vw;
  position: fixed;
  display: inline-block;
  left: 80vw;
  bottom: 0;
  z-index: 2;
}

#colourBorder {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: fadeinout 2s linear forwards;
  animation: fadeinout 2s linear forwards;
  visibility: hidden;
  z-index: 10;
  pointer-events: none;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}